<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Override with -Dlogback.configurationFile=/home/user/path/logback.xml -->

	<!-- http://logback.qos.ch/manual/configuration.html#LevelChangePropagator -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- http://logback.qos.ch/manual/layouts.html -->
	<appender name="default" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%.-1level%d{MMdd HH:mm:ss.SSS} [%10.10thread] %25.25logger{25} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.vaguehope.dlnatoad" level="INFO" />

	<logger name="org.jupnp.protocol.RetrieveRemoteDescriptors" level="ERROR" />
	<logger name="org.jupnp.transport.impl.async.AsyncServlet" level="WARN" />
	<logger name="org.jupnp.util.SpecificationViolationReporter" level="ERROR" />

	<root level="info">
		<appender-ref ref="default" />
	</root>

</configuration>
