[Unit]
Description=DLNAtoad
After=network.target

[Service]
Environment="PATH=/usr/bin:/bin"
Type=simple
User=librarian
ExecStart=/usr/bin/java \
          -XX:+PerfDisableSharedMem \
          -XX:-UsePerfData \
          -jar /home/librarian/dlnatoad/dlnatoad.jar \
          --idfile /home/librarian/dlnatoad/systemid \
          --tree /home/librarian/dlnatoad/tree \
          --db /home/librarian/dlnatoad/db \
          --thumbs /home/librarian/dlnatoad/thumbs
Restart=always
RestartSec=60
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
