.autocomplete_wrapper {
  display: inline-block;
  position: relative;
}

.autocomplete_wrapper > ul {
  position: absolute;
  max-height: 15rem;
  overflow-y: scroll;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 0 0 0;
  border: 1px solid;
  z-index: 1000;
  outline: none;
  background-color: Window;
}

.autocomplete_wrapper > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  list-style: none;
  text-align: left;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autocomplete_wrapper > ul > li::selection {
  color: HighlightText;
  background-color: Highlight;
}

.autocomplete_wrapper > ul > li mark {
  background-color: transparent;
  color: ButtonText;
  font-weight: bold;
}

.autocomplete_wrapper > ul > li mark::selection {
  color: HighlightText;
  background-color: Highlight;
}

.autocomplete_wrapper > ul > li[aria-selected="true"] {
  background-color: Highlight;
}
