body, div, input, label, p, span {
  font-family: sans-serif;
}
a:link, a:visited {
  text-decoration: none;
}

input, button {
  font-size: 1em;
  min-height: 2.5em;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.5em;
  vertical-align: middle;
  border-radius: 0.2em;
}

.link_row {
  margin: 0 0.5em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.thumbnail {
  display: inline-flex;
  position: relative;
  margin: 0.4em 0.4em 0 0.4em;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 6em;
  height: 5em;
  border: 2px solid transparent;
}
.thumbnail.video:before {
  content: '▶';
  position: absolute;
  z-index: 1;
  left: -0.5em;
  top: 1em;
  border-radius: 0.5em;
  padding: 0.1em 0.3em;
}
.thumbnail img {
  max-width: 6em;
  max-height: 5em;
  vertical-align: middle;
}

#selection_info {
  position: fixed;
  right: 1em;
  top: 1em;
  border-radius: 0.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
#selection_info button {
  margin: 0.5em 0;
}
#tag_editor {
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 50%;
  width: 18em;
  min-height: 20rem;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  margin-left: -9em; /* width/2 */
  padding: 0;
  text-align: center;
  border-radius: 0.5em;
}
#tag_editor .title_holder {
  top: 0;
  left: 0;
  margin: 0 0 1em 0;
  width: 100%;
  padding: 0.5em 0;
}
#tag_editor .title {
  margin: 0;
}
#tag_editor .content {
  padding: 0 1em;
}
#tag_editor .tagrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0;
  min-height: 3em;
}
#tag_editor .tagrow .label {
  flex-grow: 2;
  margin: 0.5em;
}
#tag_editor .tagrow .label .tag {
  margin: 0 0 0.1em 0;
  word-wrap: anywhere;
}
#tag_editor .tagrow .label .cls {
  margin: 0.1em 0 0 0;
  font-size: 50%;
}
#tag_editor .tagrow .count {
  flex-grow: 0;
  min-width: 3em;
}
#tag_editor .tagrow .rmbtn {
  flex-grow: 0;
  min-width: 3em;
  min-height: 3em;
}

.nextpage {
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.tag_simple_row_item {
  padding-right: 0.5em;
  display: inline-block;
}

.prevnext_bar {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.prefs {
  margin: 1em 0.5em;
  text-align: right;
}
.prefs form {
  display: inline-block;
}
.prefs .pref {
  display: block;
  margin: 0.5em;
}
.prefs .pref input {
  min-height: 1em;
}

.mainimage {
  text-align: center;
  position: relative;
}
.mainimage img, .mainimage video {
  max-width: 100%;
  max-height: 50em;
}
.mainimage .nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.mainimage .nav .previous {
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
}
.mainimage .nav .next {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}

.text_details {
  padding: 0.5em;
  font-family: monospace;
  white-space: pre-wrap;
  overflow: scroll;
}

#popup-obfuscator {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
}
#popup-obfuscator.is-visible {
  background-color: rgba(0,0,0,.5);
  visibility: visible;
}
