{{#db_enabled}}
<div id="selection_info" style="display:none;">
	<button id="selection_none">None</button>
	<button id="selection_all">All</button>
	<p id="selection_msg"></p>
	<button id="selection_edit_tags">Edit Tags</button>
</div>

<div id="tag_editor" style="display:none;">
	<div class="title_holder">
		<p class="title"></p>
	</div>
	<div class="content">
		<div class="autocomplete_wrapper addTag_wrapper">
			<input type="text" id="addTag" name="addTag" class="newtag" value="" autocomplete="off" spellcheck=false autocorrect="off" autocapitalize="off">
		</div>
		<script src="../w/autocomplete-addtag.js"></script>
		<div class="tags">
		</div>
	</div>
</div>
{{/db_enabled}}
