{{<page}}
	{{$body}}
	<h3>{{results.group_title}}{{#up_link_path}} <a id="up" href="{{up_link_path}}">up</a>{{/up_link_path}}</h3>
	{{#show_list_link_row}}
	<div class="link_row">
		<span><a href="?sort=modified">Sort by Modified</a></span>
		<span><a href="{{node_id}}.zip" download="{{node_file_name}}.zip">As .zip ({{node_total_size}})</a></span>
	</div>
	{{/show_list_link_row}}
	<ul>
		{{#results.list_items}}
		<li><a href="{{path}}"{{#autofocus}} autofocus{{/autofocus}}>{{title}}</a>{{#size}} [<a href="{{path}}" download="{{title}}">{{size}}</a>]{{/size}}{{#duration}} ({{duration}}){{/duration}}</li>
		{{/results.list_items}}
	</ul>

	{{#results.thumbs}}
	<span class="thumbnail"><a href="{{{item_path}}}"{{#autofocus}} autofocus{{/autofocus}}><img src="{{thumb_path}}" title="{{title}}"></a></span>
	{{/results.thumbs}}

	{{#results.next_page_path}}<a class="nextpage" href="{{{results.next_page_path}}}">Next Page</a>{{/results.next_page_path}}

	<h3>Tags</h3>
	{{^results.tags}}(no tags){{/results.tags}}
	{{#results.tags}}
	<a class="tag_simple_row_item" href="{{path_prefix}}{{{path}}}">{{tag}} ({{count}})</a>
	{{/results.tags}}

	{{/body}}
{{/page}}
