{{<page}}
	{{$body}}
	{{#result_groups}}
	<h3>{{group_title}}</h3>
	{{#msg}}<p>{{msg}}</p>{{/msg}}

	<ul>
		{{#list_items}}
		<li><a href="{{path}}"{{#autofocus}} autofocus{{/autofocus}}>{{title}}</a>{{#size}} [<a href="{{path}}" download="{{title}}">{{size}}</a>]{{/size}}{{#duration}} ({{duration}}){{/duration}}</li>
		{{/list_items}}
	</ul>

	{{#thumbs}}
	<span class="thumbnail"><a href="{{{item_path}}}"{{#autofocus}} autofocus{{/autofocus}}><img src="{{thumb_path}}" title="{{title}}"></a></span>
	{{/thumbs}}

	{{#next_page_path}}<a href="{{{next_page_path}}}">Next Page</a>{{/next_page_path}}
	{{/result_groups}}

	{{/body}}
{{/page}}
